#email, #password, #confirm_password, #first_name, #middle_name, #last_name, #display_name, #mobile_number, #code {
	background-color:lightgrey;
	border: 1px solid black;
}

#registered_email, #registered_password { 
	border: 1px solid black;
}

#register_as, #gender {
	background-color:lightgrey;
	border: 1px solid black;
}

#register {
    background-color:darkgrey !important;
    color: white;
}

#cancel {
    background-color:lightgrey !important;
    color: white;
}

#register, #cancel {
	width: 20%;
}

#go {
	background-color: #000000 !important;
	color: #FFF;
	width: 200%;
	font-size: 1.2em;
}

#register {
	float: right;
}

#cancel {
	margin-right: 1%;
	float: right;
}

.my-container {
	padding-left: 0px !important;
	padding-right: 0px !important;
}

select {
	background-color: white;
	border: thin solid blue;
	border-radius: 4px;
	display: inline-block;
	font: inherit;
	line-height: 1.5em;
	padding: 0.5em 3.5em 0.5em 1em;
	margin: 0;      
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
  	background-image:
    	linear-gradient(45deg, transparent 50%, white 50%),
    	linear-gradient(135deg, white 50%, transparent 50%),
    	linear-gradient(180deg, black, black) !important;
  	background-position:
    	calc(100% - 15px) calc(0.9em),
    	calc(100% - 5px) calc(0.9em),
    	100% 0 !important;
  	background-size:
    	10px 10px,
    	10px 10px,
    	2.0em 2.4em !important;
  	background-repeat: no-repeat;
}