#email, #password, #confirm_password, #first_name, #middle_name, #last_name, #display_name, #mobile_number, #code{
background-color:lightgrey;
border: 1px solid black;
}

#registered_email, #registered_password{border: 1px solid black; background-color:lightgrey !important;}

#register_as, #gender { background-color:lightgrey; border: 1px solid black; }
#register, #go {
    background-color:darkgrey !important;
    color: white;
}
#cancel {
    background-color:lightgrey !important;
    color: white;
}

.row{background-color:lightgrey !important;}
